<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Story</h2>
                <hr class="light">
                <p class="text-faded">We are a bunch of passionate and talented entrepreneurs, helping  shape the startup ecosystem, by providing, the know-how's, resources and a platform to launch.
We have been running series of successful events, where we invite the "most successful" entrepreneurs with a proven track record to share their personal stories and real life experiences on how they managed to get it off the ground and transformed into a success.</p>
                <a href="http://meetup.com/Startups-Club/" class="btn btn-default btn-xl">Join Startups Club</a>
            </div>
        </div>
    </div>
</section>
