<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Team</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div>
                    <a href="https://www.linkedin.com/in/chayajadhav"><i src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAf7AAAAJGUxOTdkM2E4LWM0NzAtNGE3MS1hNTU5LTA2YTY5NmQ1NmEwNQ.jpg"></i></a>
                    <h3>Chaya</h3>
                    <p class="text-muted">Global Strategy</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://ch.linkedin.com/in/palumbonicola"><i class="wow bounceIn" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/3/000/07b/1e0/0319990.jpg" data-wow-delay=".1s"></i></a>
                    <h3>Nicola</h3>
                    <p class="text-muted">Partnerships</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://ch.linkedin.com/in/jasonlowcw"><i class="wow bounceIn" src="https://media.licdn.com/media/AAEAAQAAAAAAAAiCAAAAJGY3NTQ0ZjgyLWMzZTctNDk1MC1hZWI4LTAxMWRlOGFkMzJmMw.jpg" data-wow-delay=".2s"></i></a>
                    <h3>Jason</h3>
                    <p class="text-muted">Marketing</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://ch.linkedin.com/in/globalminded"><i class="wow bounceIn" src="https://media.licdn.com/media/p/1/005/04a/3c5/0199553.jpg"></i></a>
                    <h3>Justin</h3>
                    <p class="text-muted">Investor Partner</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://ch.linkedin.com/in/maticjesenovec"><i class="wow bounceIn" src="https://media.licdn.com/media/p/3/005/064/005/34921bf.jpg" data-wow-delay=".1s"></i></a>
                    <h3>Matic</h3>
                    <p class="text-muted">Startup Evangelist</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://ch.linkedin.com/in/lidiazabala/en"><i class="wow bounceIn" src="https://media.licdn.com/media/AAEAAQAAAAAAAALlAAAAJDVjMzE4ZjA4LWQzNTMtNDY4Yi04NzdhLTAxOWZiNGI1NDU0Yg.jpg" data-wow-delay=".2s"></i></a>
                    <h3>Lidia</h3>
                    <p class="text-muted">Public Relations</p>
                </div>
            </div>
        </div>
    </div>
</section>
